Repository oslabs-beta/SvelteSlicer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc:

{ 
    "*.{js, svelte}": "eslint",
    "*.{js,jsx,ts,tsx,json,css,html,yml}": ["prettier --check"] }

refactor: enable logging to test functionality
  extension/devtools/src/Slicer.js
Due: eslint, prettier --check

refactor: rename classes and restructure to better reflect functionality and single responsibility
  extension/devtools/src/DataStore.js
  extension/devtools/src/Router.js
  extension/devtools/src/Slicer.js
  extension/devtools/src/SnapshotProducer.js
  extension/devtools/src/SvelteEventParser.js
  extension/devtools/src/main.js
Due: eslint, prettier --check

test: update test file to reflect new class name
  extension/devtools/tests/SvelteEventParser.test.js
Due: eslint, prettier --check

test: configure babel for testing
  .babelrc
Due: none

style: fix formatting
  .babelrc
Due: none

test: update jest config to transpile js and svelte files
  jest.config.js
Due: eslint, prettier --check

chore: install packages for testing - babel, happy-dom, svelte-jester
  package-lock.json
  package.json
Due: prettier --check

build: update build scripts to add prod and dev modes for injected script
  package.json
Due: prettier --check

test: add build script for test version of script and add build step to test script
  package.json
Due: prettier --check

test: add integration tests for RegisterComponent events
  extension/devtools/tests/SvelteEventParser.test.js
Due: eslint, prettier --check

chore: move test to root level testing folder
  testing/tests/SvelteEventParser.test.js
Due: eslint, prettier --check

test: create environment for testing devtool tool integrations
  testing/utils/TestAppContext.js
Due: eslint, prettier --check

test: create separate entrypoint and build config for testing version of injected script
  testing/utils/testMain.js
  webpack.config.scriptTest.js
Due: eslint, prettier --check

build: add dev and prod modes to script build config
  webpack.config.script.js
Due: eslint, prettier --check

test: create mock apps and related test data
  testing/mocks/appEntries/SimpleSiblingsApp.svelte
  testing/mocks/appEntries/SingleChildApp.svelte
  testing/mocks/components/Child.svelte
  testing/mocks/components/LeafChild.svelte
  testing/mocks/testData.js
Due: eslint, prettier --check

fix: fix typo in import paths
  testing/mocks/testData.js
Due: eslint, prettier --check

docs: add comments
  extension/devtools/src/DataStore.js
Due: eslint, prettier --check

fix: update method names to match updated class definition
  extension/devtools/src/Router.js
Due: eslint, prettier --check

refactor: separate createSnapshot functionality into separate function
  extension/devtools/src/SnapshotProducer.js
Due: eslint, prettier --check

docs: add comments
  extension/devtools/src/SvelteEventParser.js
Due: eslint, prettier --check

test: bug fixes in test to allow beforeAll to run
  testing/tests/SvelteEventParser.test.js
  testing/utils/TestAppContext.js
Due: eslint, prettier --check

test: add mock app with nested children relationships
  testing/mocks/appEntries/NestedChildrenApp.svelte
  testing/mocks/testData.js
Due: eslint, prettier --check

style: add comments and destructure objects for readability
  testing/tests/SvelteEventParser.test.js
Due: eslint, prettier --check

test: update mock app naming scheme and add new mock apps
  testing/mocks/appEntries/NestedChildrenApp.svelte
  testing/mocks/appEntries/SingleChildApp.svelte
  testing/mocks/appEntries/TestApp1.svelte
  testing/mocks/appEntries/TestApp2.svelte
  testing/mocks/appEntries/TestApp3.svelte
  testing/mocks/appEntries/TestApp4.svelte
  testing/mocks/appEntries/TestApp5.svelte
  testing/mocks/appEntries/TestApp6.svelte
  testing/mocks/appEntries/TestApp7.svelte
  testing/mocks/components/ChildTwo.svelte
  testing/mocks/testData.js
  testing/tests/SvelteEventParser.test.js
Due: eslint, prettier --check

test: create tests for AddEventListener events handling
  testing/mocks/components/LeafChild.svelte
  testing/tests/SvelteEventParser.test.js
  testing/utils/TestAppContext.js
Due: eslint, prettier --check

feat: add handling for updating snapshot labels via SvelteAddEventListener events
  extension/devtools/src/DataStore.js
  extension/devtools/src/Router.js
  extension/devtools/src/SvelteEventParser.js
Due: eslint, prettier --check

test: added testing for input events
  testing/mocks/components/LeafChild.svelte
  testing/tests/SvelteEventParser.test.js
Due: eslint, prettier --check

test: add mock and data for app with multiple levels of child nodes
  testing/mocks/appEntries/TestApp8.svelte
  testing/mocks/components/SubChild.svelte
  testing/mocks/testData.js
Due: eslint, prettier --check

build: add header component
  .lintstagedrc
  src/App.svelte
  src/Header.svelte
  src/global.css
Due: prettier --check

test: update testing script to run local jest package
  package.json
Due: prettier --check

style: adding snapshot component
  src/App.svelte
  src/Header.svelte
  src/Snapshot.svelte
Due: none

style: fix formatting
  .lintstagedrc
Due: none

test: add console.log for manual testing of snapshot labels
  extension/devtools/src/SnapshotProducer.js
Due: eslint, prettier --check

docs: add comments
  extension/devtools/src/SnapshotProducer.js
Due: eslint, prettier --check

refactor: encapsulate private class fields
  extension/devtools/src/DataStore.js
  extension/devtools/src/Router.js
  extension/devtools/src/SnapshotProducer.js
  extension/devtools/src/SvelteEventParser.js
Due: eslint, prettier --check

ci: update eslintrc to latest ECMA version to allow for private fields
  .eslintrc.cjs
Due: none

test: update test environment to use getters rather than direct access of private field
  testing/tests/SvelteEventParser.test.js
  testing/utils/TestAppContext.js
  testing/utils/testMain.js
Due: eslint, prettier --check
