Repository oslabs-beta/SvelteSlicer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

refactor: rename background and content scripts
  extension/devtools/backgroundScript.js
  extension/devtools/contentScript.js
  extension/manifest.json
Due: eslint, prettier --check

ci: add build check to Github Actions workflow
  .github/workflows/test.yml
Due: prettier --check

ci: update webpack config to access node modules in CI build
  webpack.config.js
Due: eslint, prettier --check

fix: update logo file
  extension/devtools/public/images/logo64.png
  src/App.svelte
Due: none

doc: update logo path in README
  README.md
Due: none

fix: fix bug in StateChart
  src/StateChart.svelte
Due: none

fix: fix bug in FileStructure
  src/FileStructure.svelte
Due: none

ci: updated lintstaged config to include .svelte files
  .lintstagedrc
Due: none

ci: disable linting rule to allow unsued vars
  src/FileStructure.svelte
  src/StateChart.svelte
Due: none

build: update build scripts to reflect client vs. script configs
  package.json
Due: prettier --check

build: rename to specify build for client files only
  webpack.config.client.js
Due: eslint, prettier --check

build: add webpack config for bundling code for injected script
  webpack.config.script.js
Due: eslint, prettier --check

style: update formatting from Prettier
  src/FileStructure.svelte
Due: none

refactor: create entry point file for backend script build process
  extension/devtools/src/main.js
Due: eslint, prettier --check

refactor: create ComponentParser class for import to main.js
  extension/devtools/index.js
  extension/devtools/src/ComponentParser.js
  extension/devtools/src/utils.js
  extension/manifest.json
Due: eslint, prettier --check

refactor: remove old injected.js
  extension/devtools/injected.js
Due: eslint, prettier --check

refactor: remove console.log
  extension/devtools/index.js
Due: eslint, prettier --check

build: update scripts to add watch mode and production builds for client and script
  package.json
Due: prettier --check

ci: update Github Actions workflow with new script for updated build process
  .github/workflows/test.yml
Due: prettier --check

test: add tests for ComponentParser
  tests/ComponentParser.test.js
  tests/injected.test.js
Due: eslint, prettier --check

build: change modules to CommonJS format to accomodate Jest testing
  extension/devtools/src/ComponentParser.js
  extension/devtools/src/main.js
  extension/devtools/src/utils.js
Due: eslint, prettier --check

build: update jsdom environment dev dependency
  package-lock.json
Due: prettier --check

refactor: create basic Slicer class
  extension/devtools/src/Slicer.js
  extension/devtools/src/main.js
Due: eslint, prettier --check

refactor: add basic processing for RegisterComponent events
  extension/devtools/src/ComponentParser.js
  extension/devtools/src/DOMEventParser.js
  extension/devtools/src/Listener.js
  extension/devtools/src/Slicer.js
  extension/devtools/src/SnapshotProducer.js
  extension/devtools/src/main.js
Due: eslint, prettier --check

refactor: comment out old code
  extension/devtools/src/ComponentParser.js
  extension/devtools/src/Listener.js
  extension/devtools/src/main.js
  extension/devtools/src/oldInjected.js
  extension/devtools/src/utils.js
Due: eslint, prettier --check

packagejson
  .eslintrc.js
  .lintstagedrc
  babel.config.js
  jest.config.js
  package.json
  src/FileStructure.svelte
  sum.js
  tests/frontend.test.js
Due: eslint, prettier --check

packagelockjson
  package-lock.json
Due: prettier --check

ci: update extension name to distinguish dev version for debugging purposes
  extension/manifest.json
Due: prettier --check

docs: add JSDoc style comments
  extension/devtools/src/DOMEventParser.js
  extension/devtools/src/Listener.js
  extension/devtools/src/Slicer.js
Due: eslint, prettier --check

docs: add JSDoc style comments
  extension/devtools/src/DOMEventParser.js
  extension/devtools/src/Listener.js
  extension/devtools/src/Slicer.js
  extension/devtools/src/main.js
Due: eslint, prettier --check

build: update file paths for ES6 imports
  extension/devtools/src/Listener.js
  extension/devtools/src/Slicer.js
Due: eslint, prettier --check

style: edit formatting
  .lintstagedrc
Due: none

test: configure Jest for ES6 modules
  jest.config.js
Due: eslint, prettier --check

test: add tests for methods related to SvelteRegisterComponent events
  extension/devtools/tests/DOMEventParser.test.js
Due: eslint, prettier --check

chore: delete test file for deprecated ComponentParser file
  tests/ComponentParser.test.js
Due: eslint, prettier --check

build: update project type for ES6 modules
  package.json
Due: prettier --check

build: update webpack configs to be ES6 modules
  webpack.config.client.js
  webpack.config.script.js
Due: eslint, prettier --check

build: update file extensions on configs to .cjs to enable project type to be module
  .eslintrc.cjs
  commitlint.config.cjs
Due: none

refactor: remove unused code
  extension/devtools/src/DOMEventParser.js
  extension/devtools/src/Slicer.js
Due: eslint, prettier --check

refactor: remove unused code
  extension/devtools/src/Listener.js
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js, svelte}
  prettier --check: any of: *.{js,jsx,ts,tsx,json,css,html,yml}
